<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task1</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<button class="btn-link"><a th:href="@{/listDistNumbers}">List Dicstinct Numbers</a></button>
<div class="col-md-12">
    <div>
        <!--/*@thymesVar id="Number" type="com.example.numbers.model.TaskOneNumbers"*/-->
        <!--/*@thymesVar id="num" type="java.util.List"*/-->
        <button type="button" class="btn btn-info btn-lg" style="margin: 3px;" th:each="num : ${numbersList}" th:text="${num}">Button</button>
    </div>
</div>
</body>
</html>